#allPosts
  - @posts.each do |post|
    .posts
      %article
        %header
          %h3=post.title
          %h5="- " + post.category.name + " -" 
          = render 'post_time_info', :post => post, :comments_count_link => (post_path(post) + "#comments")
        .postContent
          = image_tag(post.image)
          %p
            = truncate(post.body, :length => 200)
            %br
            = link_to "Read more...", post