%section#editor

  .new_post
    .header
      %h1 New Post
      .links
        .button
          = link_to 'Back', :back
        .button
          = link_to "All Posts", posts_path

    = render 'form'