#navigation
  %ul.menu
    %li
      = link_to content_tag(:span, 'Home'), root_path, :class => "active"
    %li
      = link_to content_tag(:span, 'About'), '#'
    %li
      = link_to content_tag(:span, 'Contact'), '#'